// Enables Tribune colors, but is required for everything.
@import 'base-variables';

$closed-not-color: $trib-orange;
$closed-color: $trib-red2;

$clothes-naked-color:$trib-yellow1;
$clothes-partial-color:$trib-orange;
$clothes-fully-color:$trib-red2;

$map-height--mobile: 350px;
$map-height--desktop: 450px;

// ---- ADD MORE VARIABLES HERE ---------------------------------------------
// Breakpoints
$tablet-min-width:450px;
$desktop-min-width:850px;

// INPUT[type='range']
$handle-width: 16px;
$handle-height: 26px;
$handle-border-radius: 5px;
$handle-box-shadow: 1px 1px 3px rgba(0,0,0,.5);
$handle-border: 1px solid #aaa;

$track-background-color: $trib-gray2;
$track-height: 2px;

// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------


// ---- TRIB CLASSES, UNCOMMENT THE ONES YOU WANT ---------------------------------------------
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import 'leaflet';
@import 'slider-thumb';
// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------
// MOBILE/DEFAULT STYLES ARE HERE.

html, body{
	margin: 0;
	padding: 0;
	background: black;;
}

.headline{
	@include label6();
	margin: 0 0 10px 0;
}

.map-wrapper{
	position: relative;
	max-width: 1060px;
	margin: 0 auto;
	max-height: 568px;
	background: white;
	overflow:hidden;

	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: space-between;
	height: 100vh;
}

.map{
	height: $map-height--mobile;
	flex: 1;
}

%legend__dot{
	@include trib-legend__box(50%);
}

.legend{
	@include trib-legend(inline);
	margin: 0 0 10px 0;
	display:none;

	&.legend--visible{
		display:block;
	}

	.legend__dot--closed{
		@extend %legend__dot;
		background-color: $closed-color;
	}

	.legend__dot--not-closed{
		@extend %legend__dot;
		background-color: $closed-not-color;
	}
}

// LEAFLET POPUP

.leaflet-popup-content-wrapper{}
.leaflet-popup-content{
	p{
		@include sans-serif();
		margin: 0;
		text-align:center;
		max-width: 200px;
	}
}

.note, .trb_mainContent .note{
	@include sans-serif();
	margin: 0 0 10px 0;
}

.credits, .trb_mainContent .credits {
	p{
		@include agate();
		margin:7px 0 0 0;
	}
}

.slider{
	@include sans-serif();
	margin: 0 0 10px 0;
	position:relative;

	.slider__input{
		flex: 1;
		margin: 0;
		position:relative;
		// margin: 0 1.38% 0 0;
		width: calc((100% / 18) * 17 + #{$handle-width} );
		margin: 0 0 0 calc((100% / 18 / 2) - #{$handle-width/2});
	}

	input{
		width: 100%;
		margin: 0;
		padding: 0;
		transform: translate(0,4px); // a nudge to vertically center it.
	}

	label{
		font-style: italic;
		// margin: 0 0 10px 0;
		// width: 100%;
	}

	.slider__min{
		text-align:left;
		font-size: 13px;
	}
	.slider__max{
		text-align:right;
		font-size: 13px;
	}

	#chosen-year{
		position:absolute;
		bottom: 100%;
		transform: translate(-50%,0);
		font-weight: bold;
	}
}


.histogram{
	margin-top: 10px;
	.bar--active{
		fill: black !important; // overriding inline style
	}
}

@media all and (min-width: $tablet-min-width){
	// ONLY CHANGES FOR TABLETS + DESKTOPS	
}

@media all and (min-width: $desktop-min-width){
	// ONLY CHANGES FOR DESKTOPS

	// .slider{
	// 	// flex-wrap:nowrap;

	// 	// label{
	// 	// 	width: auto;
	// 	// }
	// }

	.legend{
		position: absolute;
		top: 180px;
		right: 50px;
		z-index: 1000;
		background: rgba(white, .85);
		padding: 10px;

	}
}