// Enables Tribune colors, but is required for everything.
@import 'base-variables';

$closed-not-color: $trib-orange;
$closed-color: $trib-red2;

$clothes-naked-color:$trib-yellow1;
$clothes-partial-color:$trib-orange;
$clothes-fully-color:$trib-red2;

// $map-height--mobile: 350px;
// $map-height--desktop: 450px;

// ---- ADD MORE VARIABLES HERE ---------------------------------------------
// Breakpoints
$tablet-min-width:450px;
$desktop-min-width:850px;

// INPUT[type='range']
$handle-width: 16px;
$handle-height: 26px;
$handle-border-radius: 5px;
$handle-box-shadow: 1px 1px 3px rgba(0,0,0,.5);
$handle-border: 1px solid #aaa;

$track-background-color: $trib-gray2;
$track-height: 2px;

// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------


// ---- TRIB CLASSES, UNCOMMENT THE ONES YOU WANT ---------------------------------------------
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import 'leaflet';
@import 'slider-thumb';
// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------
// MOBILE/DEFAULT STYLES ARE HERE.

html, body{
	margin: 0;
	padding: 0;
}

.headline{
	@include label6();
	margin: 0 0 10px 0;
}

.graphic-wrapper{
	position: relative;
	max-width: 1060px;
	margin: 0 auto;
	max-height: 568px;
	background: white;
	overflow:hidden;

	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: space-between;
	height: 100vh;
}

.map-wrapper{
	flex: 1;
	padding-bottom: 10px;
	position:relative;
	overflow: hidden;

	// this keeps the map filling the wrapper with or without the chart taking up space.
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column;

}

.map{
	height: 100%;
	border: 1px solid $trib-gray2;
	flex:1;
	background: black;
}

%legend__dot{
	@include trib-legend__box(50%);
}

.legend{
	@include trib-legend(inline);
	margin: 0 0 0 0;
	display:none;

	&.legend--visible{
		display:block;
	}

	.legend__dot--closed{
		@extend %legend__dot;
		background-color: $closed-color;
	}

	.legend__dot--not-closed{
		@extend %legend__dot;
		background-color: $closed-not-color;
	}
}

// LEAFLET POPUP

.leaflet-popup-content-wrapper{}
.leaflet-popup-content{
	p{
		@include sans-serif-text(15px, 1.4em);
		margin: 0;
		text-align:center;
		max-width: 200px;
	}
}

.note, .trb_mainContent .note{
	margin: 0 0 10px 0;
	p{
		@include sans-serif();
		margin: 0 0 10px 0;
	}
}

.credits, .trb_mainContent .credits {
	p{
		@include agate();
		margin:7px 0 0 0;
	}
}

.slider{
	@include sans-serif();
	margin: 0 0 10px 0;
	position:relative;
	.slider__input{
		flex: 1;
		margin: 0;
		position:relative;
		// margin: 0 1.38% 0 0;
		width: calc((100% / 18) * 17 + #{$handle-width} );
		margin: 0 0 0 calc((100% / 18 / 2) - #{$handle-width/2});
	}

	input{
		width: 100%;
		margin: 0;
		padding: 0;
		transform: translate(0,4px); // a nudge to vertically center it.
	}

	label{
		font-style: italic;
		// margin: 0 0 10px 0;
		// width: 100%;
	}

	.slider__min{
		text-align:left;
		font-size: 13px;
	}
	.slider__max{
		text-align:right;
		font-size: 13px;
	}

	#chosen-year{
		position:absolute;
		bottom: 100%;
		transform: translate(-50%,0);
		font-weight: bold;
	}
}


.histogram{
	width: 100%;
	height:  75px;
	margin-top: 10px;
	.bar--active{
		fill: black !important; // overriding inline style
	}
}

@media all and (min-width: $tablet-min-width){
	// ONLY CHANGES FOR TABLETS + DESKTOPS	
	// .map{
	// 	margin-bottom: 5px;
	// }
	.credits{
		columns: 2;
		p{ margin-top: 0; }
		p + p{ text-align:right;}
	}
}

@media all and (min-width: $desktop-min-width){
	// ONLY CHANGES FOR DESKTOPS

	.note, .trb_mainContent .note {
	    margin: 0 0 10px 0;
	    display: flex;
	    justify-content: flex-start;
	    align-items: center;
	
		p{
			margin:0;
			&:after{
				content:":";
				margin-right: 10px;
			}
		}
	}
	
	.legend{
		margin: 0;
	}
	.slider{
		position: absolute;
		right: 25px;
		top: 25px;
		// height: calc(100% - 75px);
		width: 100%;
		max-width: 250px;
		
		background: white;
		padding: 15px;
		box-sizing: border-box;

		z-index: 1000;
		box-shadow: 2px 2px 3px rgba(black, .7);
		border: 1px solid $trib-gray2;
	}
}