*.pyc
*.swp
# Ignore build dependencies 
node_modules
# Ignore artifacts from the build process
.sass-cache
# You probably want to ignore files created by the front-end build
# process.  Uncomment these lines to do so:
css
js/*.js
js/*.map 
.DS_Store